h1 Index page
// if not authenticate

if isAuthenticated == false
  h2 You are not logged in...
  p Authentication is #{isAuthenticated}
  a(href="/login") login
else
  // passed from the serializeUser done callback
  h1 Hello, #{user.id}
  p Authentication is #{isAuthenticated}



  